<h1>About Page!</h1>
<hr>
<h1>My name is Alex_</h1>
<h2>
    Hello! I am Alex (My channel name is AlexLikesAirPlanes59). I created my YouTube channel
    at the start of 2024. When I created my channel, it wasn't really growing back that time.
    I use to create so many channels, that I stopped using due to termination. So I decided
    to create this whole channel, so I could be sharing quality content, GoAnimate videos,
    shorts, and more. If you are interested in quality content, then be sure to subscribe and
    join the channel to get access to perks.
</h2>
<a href="https://bitly.cx/JoinAlexLikesAirPlanes59">Click here to join my channel</a>