<!DOCTYPE html>
<html>
    <head>
        <title>AlexLikesAirPlanes59</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <hr>
        <h2>
            I am a YouTuber with over 500 subscribers (I am AlexLikesAirPlanes59)! On my channel, I make awesome
            quality content. My videos are only made for ages 12+, NOT FOR PEOPLE UNDER
            THE AGE OF 12. I make lots of content, GoAnimate, shorts (Mostly from internet), and
            so much more, so if you're interested, then be sure to subscribe to support the channel
            and turn on post notifications so you don't miss out on future content.
        </h2>
        <a href="https://bitly.cx/SubscribeToAlexLikesAirPlanes59">Click here to subscribe!</a>
        <hr>
        <h1>My name is Alex_</h1>
        <h2>
            Hello! I am Alex (My channel name is AlexLikesAirPlanes59). I created my YouTube channel
            at the start of 2024. When I created my channel, it wasn't really growing back that time.
            I use to create so many channels, that I stopped using due to termination. So I decided
            to create this whole channel, so I could be sharing quality content, GoAnimate videos,
            shorts, and more. If you are interested in quality content, then be sure to subscribe and
            join the channel to get access to perks.
        </h2>
        <a href="https://bitly.cx/JoinAlexLikesAirPlanes59">Click here to join my channel</a>
    </body>
</html>